<div class="col-md-12">
  <div class="card card-container">
    <h2 class="title-registration">Registration</h2>
    <form
      class="form"
      name="loginForm"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="firstName">FirstName</label>
        <input
          type="text"
          class="form-control"
          formControlName="firstName"
          name="firstName"
          required
        />
        <div
          *ngIf="firstName?.invalid  && (firstName?.dirty || firstName?.touched)"
          class="invalid-feedback"
        >
          <small *ngIf="firstName?.errors?.['required']">
            FirstName is required
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">LastName</label>
        <input
          type="text"
          class="form-control"
          formControlName="lastName"
          name="lastName"
          required
        />
        <div
          *ngIf="lastName?.invalid  && (lastName?.dirty || lastName?.touched)"
          class="invalid-feedback"
        >
          <small *ngIf="lastName?.errors?.['required']">
            LastName is required
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          name="email"
          required
        />
        <div
          *ngIf="email?.invalid  && (email?.dirty || email?.touched)"
          class="invalid-feedback"
        >
          <small *ngIf="email?.errors?.['required']">
            Email is required
          </small>
          <small *ngIf="email?.errors?.['email']">
            Email format is wrong
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          name="password"
          required
          minlength="6"
        />
        <div
          *ngIf="password?.invalid  && (password?.dirty || password?.touched)"
          class="invalid-feedback"
        >
          <div>
            <small *ngIf="password?.errors?.['required']">
              Password is required
            </small>
          </div>
          <div>
            <small *ngIf="password?.errors?.['minlength']">
              Password must be at least 6 characters
            </small>
          </div>
        </div>
      </div>
      <div class="form-group login-button-container">
        <button
          [disabled]="registerForm.invalid"
          class="btn btn-primary btn-block"
        >
          Register
        </button>
      </div>
      <div class="form-group message-error-wrapper">
        <div
          *ngIf="(errorLoginMessage$$ | async); let message"
          class="invalid-feedback"
        >
          Login failed: {{ message }}
        </div>
      </div>
    </form>
  </div>
</div>
