/* You can add global styles to this file, and also import other style files */

.banner{
  background-color: azure;
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

